<?xml version="1.0" encoding="UTF-8"?>
<context>
	<package>
		<class>
			<name></name>
			<!-- logicalName must be unique -->
			<method logicalName="">
				<name>method1
				</name>
				<type>String</type>
				<type>int</type>
				<type>float</type>
				<type>double</type>
			</method>
			<method logicalName="">
				<name>method2
				</name>
				<type>String</type>
				<type>int</type>
				<type>float</type>
				<type>double</type>
			</method>
		</class>
	</package>

</context>